/* ==UserStyle==
@name         Aquila highlighter
@namespace    https://gitlab.com/DintNL/sc-highlighter
@version      1.1.0
@description  Highlights Aquila crews on Social Club.
@author       DintNL
@homepageURL  https://gitlab.com/DintNL/sc-highlighter
@supportURL   https://gitlab.com/DintNL/sc-highlighter/issues
@updateURL    https://gitlab.com/DintNL/sc-highlighter/raw/main/aqui.user.css
@license      MIT
@preprocessor less
==/UserStyle== */

/* Only activate the user style on URLs that start with:
   https://socialclub.rockstargames.com/member
   or
   https://socialclub.rockstargames.com/crew */
@-moz-document regexp("^https://socialclub\\.rockstargames\\.com/(member|crew).*") {

  /* List of official Aquila crews */
  @aquicrews: "the_aquila_family", "the_aquila_mc", "the_aquila_military";

  /* Apply our own style to the tag of each crew in the list */
  each(@aquicrews, {
    .UI__CrewTag__crewTag[href="/crew/@{value}"], .UI__CrewTag__crewTag[href="/crew/@{value}"] > .UI__CrewTag__tag {
      background-color: green;
      border-color: green;
      color: white;
    }
  });

}
