/* ==UserStyle==
@name         Apathetic highlighter
@namespace    https://gitlab.com/DintNL/sc-highlighter
@version      1.1.0
@description  Highlights HALP crews on Social Club.
@author       DintNL
@homepageURL  https://gitlab.com/DintNL/sc-highlighter
@supportURL   https://gitlab.com/DintNL/sc-highlighter/issues
@updateURL    https://gitlab.com/DintNL/sc-highlighter/raw/main/halp.user.css
@license      MIT
@preprocessor less
==/UserStyle== */

/* Only activate the user style on URLs that start with:
   https://socialclub.rockstargames.com/member
   or
   https://socialclub.rockstargames.com/crew */
@-moz-document regexp("^https://socialclub\\.rockstargames\\.com/(member|crew).*") {

  /* List of official HALP crews */
  @halpcrews: "apathetic_assistance", "apathetic_europe", "apathetic_legion",
              "tha_halpers";
  
  /* Apply our own style to the tag of each crew in the list */
  each(@halpcrews, {
    .UI__CrewTag__crewTag[href="/crew/@{value}"], .UI__CrewTag__crewTag[href="/crew/@{value}"] > .UI__CrewTag__tag {
      background-color: green;
      border-color: green;
      color: white;
    }
  });

  /* List of banned players */
  @bannedplayers: ".crimewave",
                  "cynicalroute", "cynicalroute2924", "cynicalroute2925", "cynicalroute2926",
                  "-DankMemes",
                  "Nima2150",
                  "z-Irresistible", ".Shoddy.", "MunchingZia",
                  "DatGoodRat",
                  "ShaDowDX500",
                  "NinoSparXs",
                  "lillillilliillli",
                  "papabigsucc",
                  "Senator_Dayrl", "DayrlMcMexican", "_Dayrl_McMexican";

  /* Apply our own style to the player card of each player in the list */
  each(@bannedplayers, {
    .UI__PlayerCard__username[href="/member/@{value}/"] > .markedText {
      background-color: red;
      color: white;
    }
    .UI__PlayerCard__player[data-ui-name="@{value}"] {
      background-color: red;
      border-color: red;
    }
  });

}
