/* ==UserStyle==
@name         Rockstar highlighter
@namespace    https://gitlab.com/DintNL/sc-highlighter
@version      1.1.0
@description  Highlights Rockstar crews on Social Club.
@author       DintNL
@homepageURL  https://gitlab.com/DintNL/sc-highlighter
@supportURL   https://gitlab.com/DintNL/sc-highlighter/issues
@updateURL    https://gitlab.com/DintNL/sc-highlighter/raw/main/rockstar.user.css
@license      MIT
@preprocessor less
==/UserStyle== */

/* Only activate the user style on URLs that start with:
   https://socialclub.rockstargames.com/member
   or
   https://socialclub.rockstargames.com/crew */
@-moz-document regexp("^https://socialclub\\.rockstargames\\.com/(member|crew).*") {

  /* List of Rockstar Crews */
  @rockstarcrews: "ign_crew",             "payne_killers",     "los_santos_bangers",
                  "zombie_cowboys",       "red_dead_rustlers", "lapd_gumshoes",
                  "the_midnight_club",    "g4_crew",           "manhunt_executioners",
                  "las_venturas_bookies", "vice_city_mambas",  "destructoid_crew",
                  "hot_97",               "liberty_swingers",  "famitsu_crew",
                  "game_informer_crew",   "beaterator_djs",    "san_fierro_69ers",
                  "bullworth_alumni",     "gamespot_crew",     "gamestop_atl",
                  "gamestop_chi",         "table_tennis_pros", "gamestop_la",
                  "gamestop_ny-nj",       "gamestop_phx-pr",   "gamestop_dc-cin",
                  "gamestop_hou-sa",      "gamestop_mia-orl",  "gamestop_den-sea",
                  "gamestop_sf-sac",      "gamestop_cle-det",  "gamestop_phi",
                  "gamestop_ct-bos",      "gamestop_ral-clt",  "gamestop_bhm-nsh",
                  "gamestop_kc-dal",      "sprunk_official",   "ecola_official";

  /* Apply our own style to the tag of each crew in the list */
  each(@rockstarcrews, {
    .UI__CrewTag__crewTag[href="/crew/@{value}"], .UI__CrewTag__crewTag[href="/crew/@{value}"] > .UI__CrewTag__tag {
      background-color: red;
      border-color: red;
      color: white;
    }
  });

  /* Apply our own style to Rockstar crews in a generic way (instead of crew specific like above),
     this way any new Rockstar crews will automatically get our own style too */
  .UI__CrewTag__isRockstar, .UI__CrewTag__isRockstar > .UI__CrewTag__tag {
    background-color: red;
    border-color: red;
    color: white;
  }

  /* Apply our own style to the pointy part of Rockstar crew tags */
  .UI__CrewTag__isRockstar:before, .UI__CrewTag__isRockstar:after {
    border-left-color: red !important;
  }

}
