/* ==UserStyle==
@name         SAFE highlighter
@namespace    https://gitlab.com/DintNL/sc-highlighter
@version      2.5.0
@description  Highlights SAFE crews, banned crews and banned players on Social Club.
@author       DintNL
@homepageURL  https://gitlab.com/DintNL/sc-highlighter
@supportURL   https://gitlab.com/DintNL/sc-highlighter/issues
@updateURL    https://gitlab.com/DintNL/sc-highlighter/raw/main/safe.user.css
@license      MIT
@preprocessor less
==/UserStyle== */

/* Only activate the user style on URLs that start with:
   https://socialclub.rockstargames.com/member
   or
   https://socialclub.rockstargames.com/crew */
@-moz-document regexp("^https://socialclub\\.rockstargames\\.com/(member|crew).*") {

  /* List of official SAFE crews */
  @safecrews: "safe_crew_-_alfa",  "safe_crew_-_bravo", "safe_crew_-_charlie",
              "safe_crew_-_delta", "safe_crew_-_echo",  "beasts_of_the_cartel";

  /* Apply our own style to the tag of each crew in the list */
  each(@safecrews, {
    .UI__CrewTag__crewTag[href="/crew/@{value}"], .UI__CrewTag__crewTag[href="/crew/@{value}"] > .UI__CrewTag__tag {
      background-color: green;
      border-color: green;
      color: white;
    }
  });

  /* List of banned crews */
  @bannedcrews: "817ch1n_mc",
                "annihilationgta",
                "iou_1_crew",
                "professional_drifter",
                "i_cargo_execution_i",
                "spiking_keks",
                "most_hated_griefers",
                "llllrazerllll",
                "safe_crew_custom",
                "safe_crew_-_beta",
                "safe_crew_-_bravado",
                "safe_crew_-_chad",
                "safe_crew_-_charles",
                "safe_crew_-_echoes",
                "safe_crew_-_foxtrot",
                "safe_crew_-_fxggot",
                "safe_execution",
                "mella_yella",
                "fightclubua",
                "griefing_ops_unit",
                "loveblrds",
                "most_hated_barnes",
                "street_shaitans";

  /* Apply our own style to the tag of each crew in the list */
  each(@bannedcrews, {
    .UI__CrewTag__crewTag[href="/crew/@{value}"], .UI__CrewTag__crewTag[href="/crew/@{value}"] > .UI__CrewTag__tag {
      background-color: red;
      color: white;
    }
  });
    
  /* List of banned players */
  @bannedplayers: "-DankMemesInc",
                  "-ezwip-",  
                  ".crimewave",
                  "1killaserb",
                  "44trent_",
                  "AEON76GORILLA",
                  "AEONGUERRILLERA",
                  "AgentDaxon",
                  "ArtemisPlay",
                  "BSTSPAMMER",
                  "Caliyacht",
                  "ChefLife42",
                  "cynicalroute2924", "cynicalroute2925", "cynicalroute2926", "cynicalroute2927", "cynicalroute2928",
                  "DaeIin",
                  "DayrlMcMexican",
                  "Driftmonkey336",
                  "EdenOfLove",
                  "EjectKek",
                  "Exentol",
                  "fodaskiller1985",
                  "foolishcorpuscle",
                  "greekfreak43",
                  "IGads3D",
                  "IMACATTAKAU",
                  "ItzD3rpyG",
                  "iwillpilot",
                  "Jackieboy.",
                  "Jesus_ChristGTA",
                  "Justinthepro1",
                  "KillfaceKitten",
                  "lunaris_",
                  "MegaManX_",
                  "michaelzmico",
                  "Mr.Jimni",
                  "mumsgay",
                  "Natocro",
                  "Nev3rX",
                  "Nightwolf3671",
                  "NinoSparXs",
                  "PeCRT.P-C",
                  "PrepareToCry",
                  "PsychedelicGrass",
                  "rizwan_gg",
                  "RoguePilot",
                  "RuhRohOhNo",
                  "RunawayRocketboy",
                  "sale_bruh",
                  "Sammy_Boy26",
                  "sammyboyy-",
                  "Senator_Dayrl",
                  "SkyStylez",
                  "Sterncross",
                  "Streamsniped",
                  "Tanashi-",
                  "TheKillYoy",
                  "TheLastThink",
                  "thespyguy1",
                  "TiburtiusVibius",
                  "undead.",
                  "vladserb37047",
                  "XXVLADCCCCXX",
                  "yungdaff",
                  "yungdrotz",
                  "z-irresistible";

  /* Apply our own style to the player card of each player in the list */
  each(@bannedplayers, {
    .UI__PlayerCard__username[href="/member/@{value}/"] > .markedText {
      background-color: red;
      color: white;
    }
    .UI__PlayerCard__player[data-ui-name="@{value}"] {
      background-color: red;
      border-color: red;
    }
  });

}
